<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <add name="DemoDb" connectionString="Data Source=ExampleDb.sdf;Persist Security Info=False;"
            providerName="System.Data.SqlServerCE.4.0" />
        <add name="SimpleQueries.Properties.Settings.ExampleDBConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ExampleDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>